In [2]:
# Imports
import pandas as pd

In [11]:
# Read data
data = pd.read_csv('../../data/raw/tblclasses.csv', usecols=['LOCATIONID', 'CLASSID', 'STUDIOID', 'CLASSTRAINERID', 'CLASSCAPACITY', 'DAYSUNDAY', 'DAYMONDAY', 'DAYTUESDAY', 'DAYWEDNESDAY', 'DAYTHURSDAY', 'DAYFRIDAY', 'DAYSATURDAY'])

# Rename the selected columns
data.rename(
    columns = {
        'LOCATIONID': 'location',
        'CLASSID': 'classid',
        'STUDIOID': 'studio',
        'CLASSTRAINERID': 'coach',
        'DAYSUNDAY': 'sunday',
        'DAYMONDAY': 'monday',
        'DAYTUESDAY': 'tuesday',
        'DAYWEDNESDAY': 'wednesday',
        'DAYTHURSDAY': 'thursday',
        'DAYFRIDAY': 'friday',
        'DAYSATURDAY': 'saturday',
        'CLASSCAPACITY': 'capacity'
    },
    inplace = True
)

# Aggregate days in single column
data['day'] = None
days_of_week = ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']
for day in days_of_week:
    data.loc[data[day], 'day'] = day
data.drop(columns=days_of_week, inplace=True)

# Add class names
classname_tbl = pd.read_csv('../../data/interim/classname.csv')
data = data.merge(classname_tbl, on='classid', how='left')
data.rename(
    columns = {
        'classname': 'program',
    },
    inplace = True
)

# Move capacity to be the rightmost columns
data = data[['studio', 'day', 'program', 'coach', 'capacity']]

# Print
print(data.head())

   studio     day   program      coach  capacity
0   44717  friday  fullbody  100000962        15
1   44717  sunday  fullbody  100000132        15
2   44717  sunday  fullbody  100000132        15
3   44717  friday  fullbody  100000925        13
4   44717  sunday   armsabs  100000665        15

In [3]:
# Explore data
print('Number of rows:', data.shape[0])
print('Unique studios:', len(data['studio'].unique()))
print('Unique programs:', len(data['program'].unique()))
print('Unique coaches:', len(data['coach'].unique()))
print('Unique locations:', len(data['location'].unique()))
print('Unique days:', len(data['day'].unique()))

Number of rows: 208771
Unique studios: 30
Unique programs: 3884
Unique coaches: 981
Unique locations: 22
Unique days: 7

In [4]:
data = pd.read_csv('../../data/raw/tblclasses.csv')
print(data.head())

         CLASSSTARTTIME          CLASSENDTIME        CLASSDATESTART  \
0  1899-12-30T06:00:00Z  1899-12-30T06:50:00Z  2023-09-01T00:00:00Z
1  1899-12-30T11:30:00Z  1899-12-30T12:20:00Z  2023-09-03T00:00:00Z
2  1899-12-30T10:30:00Z  1899-12-30T11:20:00Z  2023-09-03T00:00:00Z
3  1899-12-30T16:30:00Z  1899-12-30T17:20:00Z  2023-09-01T00:00:00Z
4  1899-12-30T08:30:00Z  1899-12-30T09:20:00Z  2023-09-03T00:00:00Z

           CLASSDATEEND          CLASSUPDATED          CREATIONDATETIME  \
0  2024-05-06T00:00:00Z  2023-08-16T00:00:00Z   2023-08-16T19:36:04.61Z
1  2026-05-01T00:00:00Z  2023-08-16T00:00:00Z  2023-08-16T20:13:38.606Z
2  2026-05-01T00:00:00Z  2023-08-16T00:00:00Z   2023-08-16T19:59:28.27Z
3  2026-08-06T00:00:00Z  2023-08-16T00:00:00Z  2023-08-16T18:51:05.873Z
4  2026-09-03T00:00:00Z  2023-08-16T00:00:00Z   2023-08-16T19:55:27.39Z

  LASTMODIFIEDON      CREATEDDATETIMEUTC     MODIFIEDDATETIMEUTC  STUDIOID  \
0            NaN  2023-08-17T02:36:04.6Z  2023-08-17T02:36:04.6Z     44717
1            NaN  2023-08-17T03:13:38.6Z  2023-08-17T03:14:19.4Z     44717
2            NaN  2023-08-17T02:59:28.3Z  2023-08-17T02:59:35.3Z     44717
3            NaN  2023-08-17T01:51:05.9Z  2023-08-17T01:51:05.9Z     44717
4            NaN  2023-08-17T02:55:27.4Z  2023-08-17T02:55:36.4Z     44717

   ...  USELEADFOLLOWSPLIT  MASKTRAINER  ALLOWUNPAIDS  ALLOWOPENENROLLMENT  \
0  ...               False        False          True                False
1  ...               False        False          True                False
2  ...               False        False          True                False
3  ...               False        False          True                False
4  ...               False        False          True                False

   TRPAYSASST1  TRPAYSASST2  ALLOWDATEFORWARDENROLLMENT  RECURRING  \
0        False        False                       False      False
1        False        False                       False      False
2        False        False                       False      False
3        False        False                       False      False
4        False        False                       False      False

   SOFTDELETED         LOADEDDATETIMEUTC
0        False  2023-08-17T08:27:15.067Z
1        False  2023-08-17T08:27:15.067Z
2        False  2023-08-17T08:27:15.067Z
3        False  2023-08-17T08:27:15.067Z
4        False  2023-08-17T08:27:15.067Z

[5 rows x 50 columns]